@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
    background: #070831;
    font-family: 'Courier Prime', monospace;
}

nav {
    height: 60px;
    border-bottom: solid 2px #64FFDA;
}

p {
    color: #64FFDA;
    font-size: 20px;
}
a {
    color: #64FFDA;
    font-size: 20px;
}
h2 {
    color: #CCD6F6;
    font-size: 80px;
}

h3 {
    padding-top: 30px;
    color: #E0E0E0;
    font-size: 50px;
    font-weight: bolder;
}
ul {
    text-decoration: none;
    list-style: none;
}
.home-inside {
    display: block;
    width: 70%;
    margin: 150px auto;
}
.home-inside .quote{
    color: #8892B0;
    /* width: 550px; */
    text-align: justify;
    padding-top: 80px;
    font-size: 24px;
}
.home-inside p:nth-child(1){
    padding-bottom: 10px;
}

.social {
    position: fixed;
    bottom: 0;
    left: 100px;
}
.social ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background: #64FFDA;
}
.social ul li a img {
    width: 25px;
    margin: 10px 0;
}
.social ul li a:hover img{
    transform: translateY(-5px);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.social-mobile {
    display: none;
}
.email {
    position: fixed;
    bottom: 0;
    right: 100px;
}
.email div::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background: #64FFDA;
}
.email div a {
    color: #64FFDA;
    font-size: 24px;
    margin: 10px 0;
    writing-mode: vertical-rl;
}

.about-inside {
    display: block;
    width: 70%;
    margin: 200px auto 50px auto;   
}
.about-inside p {
    color: #8892B0;
    font-size: 24px;
    text-align: justify;
    padding-top: 40px;
}

.skills-inside {
    display: block;
    width: 70%;
    margin: 100px auto 50px auto;
}

.skills-window {
    display: block;
    width: 70%;
    margin: 250px auto 600px auto;      
}
.skills-window ul {
    position: relative;
    display: block;
    left: 45%;
    list-style-type: none;
    margin: 0 auto;
}
.skills-window ul li {
    position: absolute;
    transition: all 2s linear;
}
.skills-window ul li img {
    width: 3em;
}
.skills-window ul li:nth-child(1) img{
    border-radius: 50%;
}

@media only screen and (max-width: 1390px){
    h2 {
        font-size: 50px;
    }
    .home-inside h3 {
        font-size: 44px;
    }
}
@media only screen and (max-width: 1200px){
    .home-inside {
        width: 60%;
    }
    .about-inside {
        width: 60%;
    }
    .skills-inside {
        width: 60%;
    }
}

@media only screen and (max-width: 901px) {
    .skills-mobile ul {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
    }
    .skills-mobile ul li:nth-child(1){
        display: none
    }
    .skills-mobile ul li {
        justify-content: center;
        margin: auto;
        padding: 20px;
    }
    .skills-mobile ul li img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #home {
        margin-bottom: 50px;
    }
    .home-inside {
        width: 80%;
        display: block;
        margin: 50px auto;
    }
    .home-inside p:nth-child(1){
        font-size: 16px;
    }
    h2 {
        font-size: 32px;
    }
    .home-inside h3 {
        padding-top: 10px;
        font-size: 36px;
    }
    .home-inside .quote {
        font-size: 16px;
        text-align: unset;
        padding-top: 30px;
    }
    .about-inside {
        width: 80%;
        display: block;
        margin: 50px auto;
    }
    .about-inside p {
        font-size: 16px;
        text-align: unset;
    }
    .social{
        display: none;
    }
    .email{
        display: none;
    }
    .social-mobile {
        display: block;
    }
    .social-mobile ul::before {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        margin: auto 0;
        background: #64FFDA;
    }
    .social-mobile ul {
        display: flex;
    }
    .social-mobile ul li a img {
        display: block;
        margin: auto 10px;
        width: 20px;
        justify-content: center;
        align-items: center;
    }
    .social-mobile p {
        margin: 20px 0;
        display: flex;
    }
    .social-mobile p a {
        font-size: 16px;
        padding: 0 10px;
    }
    .social-mobile p::before {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        margin: auto 0;
        background: #64FFDA;
    }
    .skills-inside {
        width: 80%;
    }
}
@media only screen and (max-width: 350px) {
    .home-inside p {
        font-size: 14px;
    }
    h2 {
        font-size: 24px;
    }
    .home-inside h3 {
        font-size: 24px;
    }
    .home-inside .quote {
        font-size: 14px;
    }
    .about-inside p {
        font-size: 14px;
    }
}
