@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
    background: #070831;
    font-family: 'Courier Prime', monospace;
}

nav {
    height: 60px;
    border-bottom: solid 2px #64FFDA;
}

p {
    color: #64FFDA;
    font-size: 20px;
}

h2 {
    color: #CCD6F6;
    font-size: 80px;
}

h3 {
    color: #8892B0;
    font-size: 50px;
}
.home-inside {
    display: block;
    width: 60%;
    margin: 100px auto;
}
.home-inside .about{
    color: #E0E0E0;
    width: 550px;
    text-align: justify;
    padding-top: 60px;
    font-size: 24px;
}
.home-inside p:nth-child(1){
    padding-bottom: 20px;
}