@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
    background: #070831;
    font-family: 'Courier Prime', monospace;
}

nav {
    height: 60px;
    border-bottom: solid 2px #64FFDA;
}

p {
    color: #64FFDA;
    font-size: 20px;
}
a {
    color: #64FFDA;
    font-size: 20px;
}
h2 {
    color: #CCD6F6;
    font-size: 80px;
}

h3 {
    padding-top: 30px;
    color: #8892B0;
    font-size: 50px;
    font-weight: bolder;
}
ul {
    text-decoration: none;
    list-style: none;
}
.home-inside {
    display: block;
    width: 60%;
    margin: 100px auto;
}
.home-inside .about{
    color: #E0E0E0;
    /* width: 550px; */
    text-align: justify;
    padding-top: 80px;
    font-size: 24px;
}
.home-inside p:nth-child(1){
    padding-bottom: 10px;
}

.social {
    position: fixed;
    bottom: 0;
    left: 100px;
}
.social ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background: #64FFDA;
}
.social ul li a img {
    width: 25px;
    margin: 10px 0;
}
.social ul li a:hover img{
    transform: translateY(-5px);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.social-mobile {
    display: none;
}
.email {
    position: fixed;
    bottom: 0;
    right: 100px;
}
.email div::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background: #64FFDA;
}
.email div a {
    color: #64FFDA;
    font-size: 24px;
    margin: 10px 0;
    writing-mode: vertical-rl;
}

@media only screen and (max-width: 768px) {
    #home {
        margin-bottom: 50px;
    }
    .home-inside {
        width: 80%;
        display: block;
        margin: 50px auto;
    }
    .home-inside p:nth-child(1){
        font-size: 16px;
    }
    .home-inside h2 {
        font-size: 32px;
    }
    .home-inside h3 {
        padding-top: 10px;
        font-size: 36px;
    }
    .home-inside .about {
        font-size: 20px;
        text-align: unset;
        padding-top: 30px;
    }
    .social{
        display: none;
    }
    .email{
        display: none;
    }
    .social-mobile {
        display: block;
    }
    .social-mobile ul::before {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        margin: auto 0;
        background: #64FFDA;
    }
    .social-mobile ul {
        display: flex;
    }
    .social-mobile ul li a img {
        display: block;
        margin: auto 10px;
        width: 20px;
        justify-content: center;
        align-items: center;
    }
    .social-mobile p {
        margin: 20px 0;
        display: flex;
    }
    .social-mobile p a {
        font-size: 16px;
        padding: 0 10px;
    }
    .social-mobile p::before {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        margin: auto 0;
        background: #64FFDA;
    }
}
@media only screen and (max-width: 350px) {
    .home-inside p {
        font-size: 14px;
    }
    .home-inside h2 {
        font-size: 24px;
    }
    .home-inside h3 {
        font-size: 24px;
    }
    .home-inside .about {
        font-size: 16px;
    }
}